<!doctype html>
<html lang = "en">
<head>
	<meta charset = "utf-8"/>
	<title> CSC </title>
	<link rel = "stylesheet" href = "/static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/typed.js"></script>
</head>

<body id="index_body">
	<div id="big_wrapper">
		<nav id="top_menu">

			<h1>CSC</h1>
			<h3><span class="element"></span>
          <script>
          $(function(){
              $(".element").typed({
                strings: ["CSC", "CSC!", "CSC!!!^1000"],
                typeSpeed: 30
              });
            });
          </script>
          </h3>
			
		</nav>


			<div id="main_section">

				


				<form action="/home" method="post">
					<textarea name="query" cols="50" rows="5" placeholder="Chat here.."></textarea>
					<br>
					<button type="submit">Enter</button>
				</form>

				
						

					
			</div>

	</div>
</body>

</html>
